.text-violet{
    color: #845EF7;
}
.text-blue{
    color: #302357;
}
.text-lightblue{
    color: #31A8FE;
}
.text-lightblue1{
    color: #75BAF9;
}
.text-yellow{
    color: #EFB328;
}
.text-yellow1{
    color: #E6B33D;
}
.text-orange{
    color: #FF725E;
}
.text-green{
    color: #1BC6AF;
}
.text-red{
    color: #EC696A;
}
.text-orange1{
    color: #EA7D30;
}
.bg-blue{
    background: #302357;
}
.bg-violet{
    background: #845EF7;
}
.bg-skyblue{
    background: #31A8FE;
}
.bg-yellow{
    background: #EFB328;
}
.bg-lightblue{
    background: #ECF6FF;
}
.bg-lightblue1{
    background: #F0F8FF;
}
.para-clr{
    color: #7F7796;
}